/* 
v2.0.1
Last Updated: 2020-April
Author: Jagadeeshlal - jagadeeshlal@gmail.com 
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li,
ol {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*---------Color-----------*/
/*=====
alpha
========*/
/*=====
linear-gradien
========*/
/*====
transition
======*/
/*====
transform
======*/
/*----
placeholder
-----*/
/*----
flex
-----*/
/*-=====
opasity
=======*/
/*-=====
appearance
=======*/
/*-=====
filter
=======*/
/*-=====
react select
=======*/
/*-=====
Animation
=======*/
/*=====
alpha
========*/
/*=====
linear-gradien
========*/
/*====
transition
======*/
/*====
transform
======*/
/*----
placeholder
-----*/
/*----
flex
-----*/
/*-=====
opasity
=======*/
/*-=====
appearance
=======*/
/*-=====
filter
=======*/
/*-=====
react select
=======*/
/*-=====
Animation
=======*/
/*---------Color-----------*/
.flex-column, .main-header, .wrapper .main-header__menu--notification .profile, .wrapper .main-content__body--content .profile-wrapper .profile-block, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact, .wrapper .main-content__body--content .personal-details__block--details .image, .wrapper .main-content__body--content .personal-details__block--details .personal-info, .wrapper .main-content__body--content .personal-details__block--contact .contact-details, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul, .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexbox, .wrapper .main-header, .wrapper .main-header__brand, .wrapper .main-header__menu, .wrapper .main-header__menu--search-btn, .wrapper .main-header__menu--search-btn input .form-control, .wrapper .main-header__menu--notification, .wrapper .main-header__menu--notification a, .wrapper .main-content, .wrapper .main-content__sidebar--list li a, .wrapper .main-content__sidebar--list li a .angle-down-arrow, .wrapper .main-content__body--header, .wrapper .main-content__body--header .title, .wrapper .main-content__body--header .title__logo, .wrapper .main-content__body--header .add-button .btn, .wrapper .main-content__body--content .profile-wrapper, .wrapper .main-content__body--content .profile-wrapper .profile-block__image, .wrapper .main-content__body--content .profile-wrapper .profile-block__image span img, .wrapper .main-content__body--content .profile-wrapper .profile-block__details, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content, .wrapper .main-content__body--content .personal-details__block, .wrapper .main-content__body--content .personal-details__block--details, .wrapper .main-content__body--content .personal-details__tabs, .wrapper .main-content__body--content .personal-details__tabs span, .wrapper .main-content__body--content .personal-details .row, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.all-center, .loader {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.justify-center, .wrapper .main-header__brand, .wrapper .main-header__menu--notification a, .wrapper .main-content__body--header .title, .wrapper .main-content__body--header .title__logo, .wrapper .main-content__body--header .add-button .btn, .wrapper .main-content__body--content .profile-wrapper .profile-block__image, .wrapper .main-content__body--content .profile-wrapper .profile-block__details, .wrapper .main-content__body--content .personal-details__tabs span {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: center;
  justify-content: center;
}

.justify-between, .wrapper .main-header__menu, .wrapper .main-content__body--header, .wrapper .main-content__body--content .profile-wrapper, .wrapper .main-content__body--content .personal-details__block, .wrapper .main-content__body--content .personal-details .row, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul li, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.justify-around, .wrapper .main-content__body--content .personal-details__block--details .personal-info {
  -ms-flex-pack: distribute;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.justify-start, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content, .wrapper .main-content__body--content .personal-details__block--details .image, .wrapper .main-content__body--content .personal-details__block--contact .contact-details, .wrapper .main-content__body--content .personal-details__tabs, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.item-center, .wrapper .main-header__brand, .wrapper .main-header__menu, .wrapper .main-header__menu--search-btn, .wrapper .main-header__menu--notification, .wrapper .main-header__menu--notification a, .wrapper .main-content__sidebar--list li a, .wrapper .main-content__sidebar--list li a .angle-down-arrow, .wrapper .main-content__body--header, .wrapper .main-content__body--header .title, .wrapper .main-content__body--header .title__logo, .wrapper .main-content__body--content .profile-wrapper .profile-block__image, .wrapper .main-content__body--content .profile-wrapper .profile-block__details, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content, .wrapper .main-content__body--content .personal-details__tabs span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.item-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.item-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.item-stretch, .wrapper .main-content__body--content .personal-details__block--details .personal-info, .wrapper .main-content__body--content .personal-details__block--contact .contact-details, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul li, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}

.item-nowrap {
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}

.item-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*=====
alpha
========*/
/*=====
linear-gradien
========*/
/*====
transition
======*/
/*====
transform
======*/
/*----
placeholder
-----*/
/*----
flex
-----*/
/*-=====
opasity
=======*/
/*-=====
appearance
=======*/
/*-=====
filter
=======*/
/*-=====
react select
=======*/
/*-=====
Animation
=======*/
/*---------Color-----------*/
.flex-column, .main-header, .wrapper .main-header__menu--notification .profile, .wrapper .main-content__body--content .profile-wrapper .profile-block, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact, .wrapper .main-content__body--content .personal-details__block--details .image, .wrapper .main-content__body--content .personal-details__block--details .personal-info, .wrapper .main-content__body--content .personal-details__block--contact .contact-details, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul, .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexbox, .wrapper .main-header, .wrapper .main-header__brand, .wrapper .main-header__menu, .wrapper .main-header__menu--search-btn, .wrapper .main-header__menu--search-btn input .form-control, .wrapper .main-header__menu--notification, .wrapper .main-header__menu--notification a, .wrapper .main-content, .wrapper .main-content__sidebar--list li a, .wrapper .main-content__sidebar--list li a .angle-down-arrow, .wrapper .main-content__body--header, .wrapper .main-content__body--header .title, .wrapper .main-content__body--header .title__logo, .wrapper .main-content__body--header .add-button .btn, .wrapper .main-content__body--content .profile-wrapper, .wrapper .main-content__body--content .profile-wrapper .profile-block__image, .wrapper .main-content__body--content .profile-wrapper .profile-block__image span img, .wrapper .main-content__body--content .profile-wrapper .profile-block__details, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content, .wrapper .main-content__body--content .personal-details__block, .wrapper .main-content__body--content .personal-details__block--details, .wrapper .main-content__body--content .personal-details__tabs, .wrapper .main-content__body--content .personal-details__tabs span, .wrapper .main-content__body--content .personal-details .row, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.all-center, .loader {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.justify-center, .wrapper .main-header__brand, .wrapper .main-header__menu--notification a, .wrapper .main-content__body--header .title, .wrapper .main-content__body--header .title__logo, .wrapper .main-content__body--header .add-button .btn, .wrapper .main-content__body--content .profile-wrapper .profile-block__image, .wrapper .main-content__body--content .profile-wrapper .profile-block__details, .wrapper .main-content__body--content .personal-details__tabs span {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: center;
  justify-content: center;
}

.justify-between, .wrapper .main-header__menu, .wrapper .main-content__body--header, .wrapper .main-content__body--content .profile-wrapper, .wrapper .main-content__body--content .personal-details__block, .wrapper .main-content__body--content .personal-details .row, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul li, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.justify-around, .wrapper .main-content__body--content .personal-details__block--details .personal-info {
  -ms-flex-pack: distribute;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.justify-start, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content, .wrapper .main-content__body--content .personal-details__block--details .image, .wrapper .main-content__body--content .personal-details__block--contact .contact-details, .wrapper .main-content__body--content .personal-details__tabs, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.item-center, .wrapper .main-header__brand, .wrapper .main-header__menu, .wrapper .main-header__menu--search-btn, .wrapper .main-header__menu--notification, .wrapper .main-header__menu--notification a, .wrapper .main-content__sidebar--list li a, .wrapper .main-content__sidebar--list li a .angle-down-arrow, .wrapper .main-content__body--header, .wrapper .main-content__body--header .title, .wrapper .main-content__body--header .title__logo, .wrapper .main-content__body--content .profile-wrapper .profile-block__image, .wrapper .main-content__body--content .profile-wrapper .profile-block__details, .wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content, .wrapper .main-content__body--content .personal-details__tabs span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.item-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.item-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.item-stretch, .wrapper .main-content__body--content .personal-details__block--details .personal-info, .wrapper .main-content__body--content .personal-details__block--contact .contact-details, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul, .wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul li, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info, .wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}

.item-nowrap {
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}

.item-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-header {
  background-color: #000;
}

.wrapper {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.wrapper .main-header {
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
  background-color: #FAFBFC;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

.wrapper .main-header__brand {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 20px;
  max-width: 260px;
  min-width: 260px;
}

.wrapper .main-header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px 0;
}

.wrapper .main-header__menu--search-btn {
  padding: 3px 16px;
  height: 38px;
  font-size: 18px;
  width: 500px;
  color: #91979d;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.wrapper .main-header__menu--search-btn input {
  border: none;
  outline: none;
  font-size: 14px;
}

.wrapper .main-header__menu--search-btn input .form-control {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .main-header__menu--search-btn i {
  color: #91979d;
}

.wrapper .main-header__menu--notification {
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 0;
}

.wrapper .main-header__menu--notification a {
  padding: 0 20px;
}

.wrapper .main-header__menu--notification .profile {
  color: #707070;
}

.wrapper .main-header__menu--notification .profile small {
  font-weight: 300;
}

.wrapper .main-header__menu--notification svg {
  width: 100%;
  height: 100%;
}

.wrapper .main-header__menu--notification svg path {
  stroke-width: 1px;
  fill: #939393;
}

.wrapper .main-header__menu--notification .calender {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 5px;
  position: relative;
}

.wrapper .main-header__menu--notification .calender::after {
  content: "";
  position: absolute;
  left: 50px;
  top: -4px;
  height: 40px;
  border: 1px solid #e3e4e5;
  cursor: default;
}

.wrapper .main-header__menu--notification .toggle-icon {
  width: 21px;
  height: 14px;
}

.wrapper .main-content {
  top: 50px;
}

.wrapper .main-content__sidebar {
  width: 260px;
  background-color: #ffffff;
  overflow: auto;
  min-height: calc(100vh - 69px);
  margin-top: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper .main-content__sidebar--list {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.wrapper .main-content__sidebar--list li {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #626772;
}

.wrapper .main-content__sidebar--list li a {
  text-decoration: none;
  color: #8d97ad;
  color: #626772;
  font-size: 16px;
}

.wrapper .main-content__sidebar--list li a svg {
  width: 100%;
  height: 100%;
}

.wrapper .main-content__sidebar--list li a svg path {
  stroke-width: 1px;
  fill: #777;
}

.wrapper .main-content__sidebar--list li a .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.wrapper .main-content__sidebar--list li a .angle-down-arrow {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-left: auto;
  width: 16px;
  height: 9px;
}

.wrapper .main-content__sidebar--list li a:hover {
  color: #e15776;
}

.wrapper .main-content__sidebar--list li a:hover svg path {
  fill: #e15776;
}

.wrapper .main-content__sidebar--list li ul {
  position: relative;
  margin-top: 10px;
}

.wrapper .main-content__sidebar--list li ul::before {
  content: "";
  position: absolute;
  width: 2px;
  left: 11px;
  top: 17px;
  height: calc(100% - 35px);
  border: 1px solid #e8e8e8;
}

.wrapper .main-content__sidebar--list li ul li {
  position: relative;
  font-weight: 400;
  line-height: 1;
}

.wrapper .main-content__sidebar--list li ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  left: 7px;
  top: 13px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
}

.wrapper .main-content__sidebar--list li ul li a {
  font-size: 14px;
  padding: 0 22px;
}

.wrapper .main-content__sidebar--list li ul li a:hover::before {
  content: "";
  position: absolute;
  width: 10px;
  left: 7px;
  top: 13px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #e15776;
  border-radius: 50%;
}

.wrapper .main-content__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 55px;
}

.wrapper .main-content__body--header {
  background-color: #f7f9fb;
  height: 100px;
  padding: 0 20px;
}

.wrapper .main-content__body--header .title__logo {
  background-color: #ffffff;
  border-radius: 4px;
  width: 64px;
  height: 64px;
}

.wrapper .main-content__body--header .title__logo .icon {
  width: 42px;
  height: 42px;
}

.wrapper .main-content__body--header .title__logo .icon svg {
  width: 100%;
  height: 100%;
}

.wrapper .main-content__body--header .title__logo .icon svg path {
  stroke-width: 1;
  fill: #7e7979;
}

.wrapper .main-content__body--header .title h3 {
  font-size: 20px;
  font-weight: 400;
  padding: 0 10px;
  color: #495057;
}

.wrapper .main-content__body--header .add-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.wrapper .main-content__body--header .add-button .btn {
  background-image: -webkit-linear-gradient(left, #ff621f 0%, #ff743d 41%, #fd6227 53%, #fa4300 74%, #ff4400 82%, #ff824d 100%);
  background: -ms-linear-gradient(left, #ff621f 0%, #ff743d 41%, #fd6227 53%, #fa4300 74%, #ff4400 82%, #ff824d 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff621f), color-stop(41%, #ff743d), color-stop(53%, #fd6227), color-stop(74%, #fa4300), color-stop(82%, #ff4400), to(#ff824d));
  background-image: linear-gradient(left, #ff621f 0%, #ff743d 41%, #fd6227 53%, #fa4300 74%, #ff4400 82%, #ff824d 100%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  min-width: 140px;
  border: none;
  color: white;
  padding: 2px 20px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  height: 31px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.wrapper .main-content__body--header .add-button .btn i {
  margin-right: 5px;
}

.wrapper .main-content__body--header .add-button .btn::before {
  content: "+";
  position: absolute;
  height: 14px;
  width: 14px;
  top: 2px;
  left: 8px;
  font-size: 18px;
  color: #ffffff;
}

.wrapper .main-content__body--content {
  padding: 10px;
}

.wrapper .main-content__body--content .profile-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #ffffff;
  padding: 10px;
  color: #707070;
  font-weight: 400;
  min-height: calc(100vh - 900px);
  letter-spacing: 0.1px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-bottom: 0;
  position: relative;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__image span {
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border: 2px solid #64a249;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__image span p {
  font-size: 14px;
  font-weight: 500;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__image::after {
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  content: "\2807";
  position: absolute;
  font-size: 24px;
  color: #cecece;
  right: -10px;
  top: 3px;
  cursor: pointer;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__details {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  line-height: 2;
  padding: 10px 0;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__details span {
  text-align: center;
  text-transform: uppercase;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 14px;
  padding: 10px;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content {
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content .image {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  position: relative;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content .image svg {
  width: 100%;
  height: 100%;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content .image svg path {
  fill: #da9aa5;
  stroke-width: 1px;
}

.wrapper .main-content__body--content .profile-wrapper .profile-block__contact--content p {
  line-height: 3;
}

.wrapper .main-content__body--content .personal-details {
  background-color: #f7f7f7;
}

.wrapper .main-content__body--content .personal-details h3 {
  color: #3d3d3d;
}

.wrapper .main-content__body--content .personal-details__block {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ffffff;
  padding: 15px 0;
  color: #707070;
  font-weight: 400;
  letter-spacing: 0.1px;
  min-height: calc(100vw - 1000px);
  position: relative;
  margin-bottom: 2px;
}

.wrapper .main-content__body--content .personal-details__block--details {
  padding: 0 10px;
}

.wrapper .main-content__body--content .personal-details__block--details .image {
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  overflow: hidden;
  width: 100px;
  padding: 0 10px;
  height: 100px;
}

.wrapper .main-content__body--content .personal-details__block--details .personal-info {
  padding: 0 10px;
}

.wrapper .main-content__body--content .personal-details__block--details .personal-info p {
  font-size: 14px;
  font-weight: 600;
  color: #6d747c;
}

.wrapper .main-content__body--content .personal-details__block--details .personal-info h5, .wrapper .main-content__body--content .personal-details__block--details .personal-info h4 {
  color: #3d3d3d;
}

.wrapper .main-content__body--content .personal-details__block--details .personal-info .btn {
  background-image: -webkit-linear-gradient(left, #ff621f 0%, #ff743d 41%, #fd6227 53%, #fa4300 74%, #ff4400 82%, #ff824d 100%);
  background: -ms-linear-gradient(left, #ff621f 0%, #ff743d 41%, #fd6227 53%, #fa4300 74%, #ff4400 82%, #ff824d 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff621f), color-stop(41%, #ff743d), color-stop(53%, #fd6227), color-stop(74%, #fa4300), color-stop(82%, #ff4400), to(#ff824d));
  background-image: linear-gradient(left, #ff621f 0%, #ff743d 41%, #fd6227 53%, #fa4300 74%, #ff4400 82%, #ff824d 100%);
  color: #ffffff;
  font-weight: 600;
}

.wrapper .main-content__body--content .personal-details__block--contact .contact-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

.wrapper .main-content__body--content .personal-details__block--contact .contact-details::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 1px;
  height: calc(100% - 20px);
  border: 1px dashed #e8e8e8;
}

.wrapper .main-content__body--content .personal-details__block--contact .contact-details__items {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 70px;
  grid-row-gap: 10px;
  -ms-grid-columns: 100px 60%;
      grid-template-columns: 100px 60%;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
}

.wrapper .main-content__body--content .personal-details__block--contact .contact-details__items--label {
  font-weight: 600;
}

.wrapper .main-content__body--content .personal-details__block::after {
  border-radius: 90%;
  -webkit-border-radius: 90%;
  -moz-border-radius: 90%;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
  content: "\270E";
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 3px;
  padding: 5px 10px;
  background-color: #eeeeee;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}

.wrapper .main-content__body--content .personal-details__tabs {
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ffffff;
  padding: 15px 0;
  color: #707070;
  font-weight: 400;
  letter-spacing: 0.1px;
  width: calc(100vw - 100px);
  height: 40px;
  position: relative;
  margin-bottom: 20px;
}

.wrapper .main-content__body--content .personal-details__tabs span {
  font-weight: 500;
  padding: 0 10px;
  -webkit-transition: 0.23s ease-in-out;
  transition: 0.23s ease-in-out;
}

.wrapper .main-content__body--content .personal-details__tabs span p {
  color: #ff0000;
}

.wrapper .main-content__body--content .personal-details__tabs span:hover {
  color: #3d3d3d;
  cursor: pointer;
}

.wrapper .main-content__body--content .personal-details .row {
  position: relative;
  margin-top: 20px;
}

.wrapper .main-content__body--content .personal-details .row h4, .wrapper .main-content__body--content .personal-details .row h6 {
  margin-bottom: 10px;
  color: #707070;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body {
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #707070;
  font-weight: 400;
  letter-spacing: 0.1px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: calc(100vw - 1000px);
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body::after {
  border-radius: 90%;
  -webkit-border-radius: 90%;
  -moz-border-radius: 90%;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
  content: "\270E";
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 3px;
  padding: 5px 10px;
  background-color: #eeeeee;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul {
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul li .label {
  font-weight: 600;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body ul .divider {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body table tbody thead tr th {
  padding: 5px;
  border-top: 1px solid #989b9e;
  border-bottom: 1px solid #989b9e;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .card-body table td {
  padding: 5px 0;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul {
  position: relative;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 20px;
  height: calc(100% - 20px);
  border: 1px solid #e8e8e8;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul li {
  display: block;
  padding: 10px 20px;
  position: relative;
}

.wrapper .main-content__body--content .personal-details .row .col-md-6 .academic-info ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  left: -2px;
  top: 20px;
  height: 10px;
  background-color: #dddddd;
  border-radius: 50%;
}

.main-wrapper {
  margin: 0;
  padding-top: 80px;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

@media (max-width: 319px) {
  .main-wrapper {
    padding-top: 50px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-wrapper {
    padding-top: 60px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 999999;
}

.loader .loader-inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 2px solid #f50136;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-animation: loader-inner 0.8s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-inner 0.8s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
  background-color: transparent !important;
}

::-moz-selection {
  color: #000;
  background: #f4f4f4f4;
}

::selection {
  color: #000;
  background: #f4f4f4f4;
}

button,
input,
textarea {
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

button:hover, button:visited, button:focus, button:active,
input:hover,
input:visited,
input:focus,
input:active,
textarea:hover,
textarea:visited,
textarea:focus,
textarea:active {
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
  outline: 0;
}

img {
  border: 0;
  outline: 0;
  max-width: 100%;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: #2e3c4d;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f4f4f4f4;
  color: #2e3c4d;
  line-height: 1.428;
  font-weight: 400;
  font-size: 14px;
  color: blue;
}
/*# sourceMappingURL=main.css.map */