/* 
v2.0.1
Last Updated: 2020-August
Author: Blesson S Babu - blessonb89@gmail.com 
*/

@import "base/reset";
@import "base/typography";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/breakpoints";
@import "helpers/functions";
@import "components/header";
@import "components/contents";
@import "components/footer";
@import "vendors/common";
@import "vendors/override";
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    @include box-shadow(0, 0, 0, rgba(255, 255, 255, 0) !important);
    background-color: transparent !important;
}

::selection {
    color: color(primary, base);
    background: color(background);
}

button,
input,
textarea {
    @include box-shadow(0, 0, 0, rgba(255, 255, 255, 0));
    &:hover,
    &:visited,
    &:focus,
    &:active {
        @include box-shadow(0, 0, 0, rgba(255, 255, 255, 0) !important);
        outline: 0;
    }
}

img {
    border: 0;
    outline: 0;
    max-width: 100%;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    color: color(text);
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-web;
    background: color(background);
    color: color(text);
    line-height: 1.428;
    font-weight: 400;
    font-size: 14px;
    color: blue;
}