html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    .wrapper {
        @extend .flex-column;
        h1,
        h2 {
            color: #ffffff;
        }
        /***
        Back To Top Button Styles
        ***/
        .top-button {
            @include border-radius(90px);
            @extend .flexbox;
            @extend .justify-center;
            @extend .item-center;
            display: none;
            z-index: 3;
            border: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            background-color: #c32865;
            cursor: pointer;
            outline: none;
            transition: btnentrance 0.2s ease-in-out;
            .top-avatar {
                background-color: #c32865;
                height: 20px;
                width: 20px;
                svg {
                    height: 100%;
                    width: 100%;
                    path {
                        fill: #ffffff;
                    }
                }
                @include media(">=tablet") {
                    right: 30px;
                    height: 20px;
                    width: 20px;
                }
            }
            @include media(">=phone", "<=tablet") {
                right: 20px;
                width: 40px;
                height: 40px;
            }
        }
        .btn-entrance {
            animation-duration: 0.5s;
            animation-fill-mode: both;
            animation-name: btn-entrance;
        }
        .btn-exit {
            animation-duration: 0.5s;
            animation-fill-mode: both;
            animation-name: btn-exit;
        }
        /***
            Main body styles
        ***/
        .main-body {
            margin-bottom: 30px;
            &__content {
                .container {
                    max-width: 95%;
                }
                h3 {
                    position: relative;
                    padding: 10px 0px;
                    text-align: center;
                    color: #ffffff;
                    &::after {
                        content: '';
                        width: 30%;
                        position: absolute;
                        bottom: 0px;
                        right: 40%;
                        background: #c32865;
                        height: 3px;
                    }
                    @include media(">=tablet") {
                        font-size: 40px;
                    }
                }
                &--landing-block {
                    @extend .flexbox;
                    @extend .justify-center;
                    flex-wrap: wrap-reverse;
                    height: calc(100vh - 40px);
                    color: #ffffff;
                    margin-top: 30%;
                    .profile-intro {
                        @extend .flexbox;
                        @extend .justify-center;
                        @extend .item-center;
                        height: calc(100vh - 400px);
                        .header {
                            @include opacity(0);
                            @extend .flex-column;
                            @extend .justify-around;
                            @extend .item-stretch;
                            transition: opacity 950ms ease-in;
                            height: 300px;
                            .header-desc {
                                @extend .flex-column;
                                @extend .justify-center;
                                @extend .item-center;
                                position: relative;
                                h1 {
                                    font-size: calc(25px + (40 - 25)*((100vw - 328px)/(1024 - 328)));
                                    font-weight: 600;
                                }
                                h2 {
                                    font-size: calc(25px + (40 - 25)*((100vw - 328px)/(1024 - 328)));
                                    font-weight: 600;
                                    color: #c32865;
                                }
                                @include media(">=tablet") {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                }
                            }
                            .btn {
                                @include border-radius(90px);
                                @extend .flexbox;
                                @extend .justify-center;
                                @extend .item-center;
                                width: 100%;
                                padding: 10px 30px;
                                color: #ffffff;
                                border: 2px solid #ffffff;
                                text-align: center;
                                z-index: 1;
                                background-color: transparent;
                                font-size: 17px;
                                font-weight: 700;
                                transition: 0.5s ease;
                                &:hover {
                                    background-color: #c32865;
                                    border-color: #c32865;
                                }
                            }
                        }
                        .appear {
                            @include opacity(1);
                            width: 100%;
                        }
                    }
                    .profile-avatar {
                        @extend .flexbox;
                        @extend .justify-end;
                        .profile-image {
                            width: calc(100vw - 50px);
                            padding: 20px 0;
                            @include media(">=tablet") {
                                width: 500px;
                                height: 500px;
                            }
                        }
                    }
                    @include media(">=tablet") {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-wrap: nowrap;
                        height: 600px;
                        margin-top: 3%;
                    }
                }
                &--about-block {
                    @extend .flex-column;
                    @extend .justify-between;
                    @extend .item-center;
                    padding: 30px 0;
                    color: #ffffff;
                    height: 500px;
                    .about-avatar {
                        @include translate(-20%, 0);
                        @include opacity(0);
                        @extend .flexbox;
                        @extend .justify-center;
                        transition: opacity 2s, transform 1s ease-out;
                        .avatar {
                            width: calc(100vw - 10px);
                        }
                    }
                    .appear {
                        @include translate(0%, 0);
                        @include opacity(1);
                    }
                    .about-intro {
                        @include translate(20%, 0);
                        @include opacity(0);
                        @extend .flex-column;
                        @extend .justify-center;
                        @extend .item-center;
                        transition: opacity 1s, transform 1s ease-out;
                        p {
                            color: #ffffff;
                            padding: 10px 0px;
                            line-height: 27px;
                            text-align: center;
                            font-size: 15px;
                            @include media(">=tablet") {
                                width: 80%;
                                font-size: 20px;
                                line-height: 2rem;
                            }
                        }
                    }
                    .appear {
                        @include translate(0%, 0);
                        @include opacity(1);
                    }
                    @include media(">=tablet") {
                        display: flex;
                        flex-direction: row;
                        height: 500px;
                    }
                }
                &--technology-block {
                    @extend .flex-column;
                    justify-content: space-evenly;
                    &__header {
                        @include opacity(0);
                        @include translate(0, 50%);
                        @extend .flexbox;
                        @extend .justify-center;
                        padding: 50px 0;
                        transition: opacity 250ms ease-in, transform 0.5s ease;
                    }
                    .appear {
                        @include opacity(1);
                        @include translate(0, 0%);
                    }
                    &__contents {
                        @extend .flex-column;
                        @extend .justify-around;
                        .images {
                            @include opacity(0);
                            @extend .flexbox;
                            @extend .justify-center;
                            @extend .item-center;
                            width: 50%;
                            padding: 20px 0;
                            transition: 0.5s ease;
                            margin-bottom: 30px;
                            .image-block {
                                @extend .flexbox;
                                @extend .justify-center;
                                @extend .item-center;
                                width: 70px;
                                height: 70px;
                                svg {
                                    width: 100%;
                                    height: 100%;
                                }
                                @include media(">=tablet") {
                                    width: 90px;
                                    height: 90px;
                                }
                            }
                            @include media(">=tablet") {
                                width: 100%;
                            }
                        }
                    }
                    .appear {
                        @include scale(1.1);
                        @include opacity(1);
                    }
                }
                &--expertise-block {
                    @extend .flex-column;
                    @extend .justify-center;
                    @extend .item-center;
                    padding: 40px 0;
                    &__header {
                        @include opacity(0);
                        @include translate(0, 50%);
                        @extend .flexbox;
                        @extend .justify-center;
                        margin-bottom: 30px;
                        transition: opacity 250ms ease-in, transform 0.5s ease;
                    }
                    .appear {
                        @include opacity(1);
                        @include translate(0, 0%);
                    }
                    .row {
                        @extend .flexbox;
                        @extend .justify-between;
                        .col-md-4 {
                            @include opacity(0);
                            @extend .flex-column;
                            @extend .justify-center;
                            @extend .item-center;
                            transition: 0.5s ease;
                            cursor: pointer;
                            .image-block {
                                padding: 20px 0;
                                width: 100px;
                                height: 200px;
                                transition: 0.5s ease;
                                svg {
                                    width: 100%;
                                    height: 100%;
                                    path {
                                        fill: #ffffff;
                                    }
                                }
                                @include media(">=tablet") {
                                    width: 150px;
                                }
                            }
                            .image-desc {
                                @extend .flexbox;
                                @extend .justify-center;
                                p {
                                    text-align: center;
                                    color: #ffffff;
                                    font-size: 14px;
                                    @include media(">=tablet") {
                                        width: 90%;
                                        font-size: 17px;
                                    }
                                }
                            }
                            &:hover {
                                svg {
                                    width: 100%;
                                    height: 100%;
                                    transform: translateY(0, -50%);
                                    path {
                                        fill: #c32865;
                                    }
                                }
                            }
                            @include media("<=tablet") {
                                padding: 20px;
                            }
                        }
                        .appear {
                            @include scale(1.1);
                            @include opacity(1);
                        }
                    }
                    @include media(">=tablet") {
                        display: flex;
                        justify-content: space-around;
                        height: 600px;
                    }
                }
                &--contact-block {
                    @extend .flex-column;
                    &__header {
                        @include opacity(0);
                        @include translate(0, 50%);
                        @extend .flex-column;
                        @extend .justify-center;
                        @extend .item-center;
                        height: 200px;
                        transition: opacity 250ms ease-in, transform 0.5s ease;
                        &--small {
                            font-size: 20px;
                            color: #c32865;
                            font-weight: 300;
                            margin: 20px;
                        }
                        &--big {
                            font-size: 40px;
                            color: #ffffff;
                            font-weight: 600;
                        }
                    }
                    .appear {
                        @include opacity(1);
                        @include translate(0, 0%);
                    }
                    &__desc {
                        @extend .flexbox;
                        @extend .justify-around;
                        @extend .item-center;
                        height: 150px;
                        font-size: 15px;
                        color: #ffffff;
                        @include media(">=tablet") {
                            font-size: 18px;
                        }
                    }
                    &__contact {
                        @extend .flexbox;
                        @extend .justify-between;
                        @extend .item-center;
                        &--phone {
                            .header {
                                font-size: 16px;
                                color: #c32865;
                                margin-bottom: 20px;
                            }
                            .description {
                                font-size: 14px;
                                color: #ffffff;
                            }
                            @include media(">=tablet") {
                                .header,
                                .description {
                                    font-size: 18px;
                                }
                            }
                        }
                        &--mail {
                            .header {
                                font-size: 16px;
                                color: #c32865;
                                margin-bottom: 20px;
                            }
                            .description {
                                font-size: 14px;
                                color: #ffffff;
                            }
                            @include media(">=tablet") {
                                .header,
                                .description {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .col-md-6 {
                        padding: 0 20px;
                        overflow: hidden;
                        .contact-form {
                            max-width: 100%;
                            margin: 0 auto;
                            .form-group {
                                position: relative;
                                .input-name {
                                    display: block;
                                    width: 100%;
                                    height: 52px;
                                    border: none;
                                    border-bottom: 1px solid #797979;
                                    padding-top: 20px;
                                    background: transparent;
                                    font-weight: normal;
                                    color: #797979;
                                    font-size: 14px;
                                    transition: transform 0.9s ease;
                                    &:focus {
                                        &+label {
                                            .content-name {
                                                @include translate(0, -100%);
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    &:valid {
                                        &+label {
                                            .content-name {
                                                @include translate(0, -100%);
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    &:focus {
                                        &+label {
                                            &::after {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    &:valid {
                                        &+label {
                                            &::after {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    @include media(">=tablet") {
                                        height: 72px;
                                    }
                                }
                                textarea {
                                    resize: auto;
                                    overflow: hidden;
                                    position: relative;
                                }
                                label {
                                    position: absolute;
                                    width: 100%;
                                    pointer-events: none;
                                    &::after {
                                        content: "";
                                        width: 0%;
                                        left: 0px;
                                        bottom: 0px;
                                        position: absolute;
                                        border-bottom: 2px solid #c32865;
                                        transition: transform all 0.10s ease;
                                    }
                                }
                                span {
                                    font-size: 15px;
                                    color: #797979;
                                }
                                .content-name {
                                    position: absolute;
                                    transition: all 0.5s ease;
                                    left: 0px;
                                    bottom: 5px;
                                }
                            }
                            .submit-button {
                                @include border-radius(50px);
                                width: 100%;
                                color: #ffffff;
                                background-color: #c32865;
                                font-size: 16px;
                                border: 2px solid #c32865;
                                letter-spacing: .5px;
                                text-transform: capitalize;
                                padding: 10px 30px;
                                transition: all .5s ease;
                                font-weight: 500;
                                &:hover {
                                    background-color: #292640;
                                    color: #c32865;
                                }
                            }
                            /***
                                 Back To Top Button Animation
                            ***/
                            @include keyframes(btn-entrance) {
                                from {
                                    opacity: 0;
                                    transform: translate3d(0, 100%, 0);
                                }
                                to {
                                    opacity: 1;
                                    transform: translate3d(0, 0, 0);
                                }
                            }
                            @include keyframes(btn-exit) {
                                from {
                                    opacity: 1;
                                }
                                to {
                                    opacity: 0;
                                    transform: translate3d(0, 100%, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}