.footer {
    @extend .flex-column;
    @extend .item-center;
    margin: 30px 0;
    padding: 10px 0;
    min-height: 100px;
    max-height: 200px;
    &__social-links {
        @extend .flexbox;
        @extend .justify-around;
        list-style: none;
        li {
            @include border-radius(90px);
            width: 40px;
            height: 40px;
            padding: 10px;
            transition: all 0.4s ease;
            svg {
                width: 100%;
                height: 100%;
                path {
                    fill: #ffffff;
                }
            }
            &:hover {
                background-color: #c32865;
            }
        }
    }
    &__about {
        color: #ffffff;
        font-size: 15px;
    }
    @include media(">=tablet") {
        display: flex;
        justify-content: space-evenly;
    }
}