.main-header {
    @extend .flexbox;
    @extend .justify-center;
    @include opacity(0);
    @include translate(0, -50%);
    transition: opacity 250ms ease-in, transform 0.5s ease;
    flex: 1 1 auto;
    padding: 5px 20px;
    right: 0;
    left: 0;
    z-index: 1;
    transition: 0.6s ease-in;
    &__brand {
        @extend .flexbox;
        @extend .justify-center;
        @extend .item-center;
        flex: 1 1 auto;
        max-width: 50px;
        min-width: 30px;
        @include media(">=phone", "<tablet") {
            max-width: 100px;
        }
    }
    &__navbar {
        @extend .flexbox;
        @extend .justify-center;
        @extend .item-center;
        flex: 0 1 auto;
        height: 60px;
        ul {
            @extend .flexbox;
            @extend .justify-between;
            @extend .item-stretch;
            flex: 0 1 auto;
            list-style-type: none;
            li {
                padding: 10px;
                flex: 0 1 auto;
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 10px 0px;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 20px;
                    position: relative;
                    cursor: pointer;
                    &::after {
                        content: '';
                        width: 0%;
                        transition: all 0.3s ease;
                        left: 50%;
                    }
                    &::before {
                        content: '';
                        width: 0%;
                        transition: all 0.3s ease;
                        left: 50%;
                    }
                    &:hover {
                        color: #ffffff;
                        &::after {
                            content: '';
                            width: 50%;
                            position: absolute;
                            bottom: 0px;
                            left: 50%;
                            background: #c32865;
                            height: 3px;
                        }
                        &::before {
                            content: '';
                            width: 50%;
                            position: absolute;
                            bottom: 0px;
                            left: 0%;
                            background: #c32865;
                            height: 3px;
                        }
                    }
                }
                @include media(">=phone", "<tablet") {
                    color: #ffffff;
                }
                @include media(">=phone", "<tablet") {
                    padding: 20px 0;
                }
            }
            @include media(">=phone", "<tablet") {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                position: absolute;
                background: #292640;
                left: 100%;
                top: 90px;
                padding: 0 10px;
                width: 100%;
                transition: 0.5s ease;
                z-index: 0;
                min-height: calc(100vh - 20px);
            }
        }
        #check {
            display: none;
            @include media(">=phone", "<tablet") {
                &:checked {
                    ~ul {
                        left: 0px;
                    }
                }
            }
        }
        .hamburger {
            display: none;
            padding: 5px;
            position: absolute;
            right: 0px;
            cursor: pointer;
            .line {
                width: 25px;
                margin: 4px;
                height: 2px;
                background-color: #ffffff;
            }
            @include media(">=phone", "<tablet") {
                display: block;
                margin: 0;
                right: 5%;
                position: absolute;
            }
        }
    }
    @include media(">=phone", "<tablet") {
        padding: 5px 20px;
    }
}

.appear {
    @include opacity(1);
    @include translate(0, 0%);
}