.flex-column {
    @include flexbox();
    @include flex-direction(column);
}

.flexbox {
    @include flexbox();
    @include flex-direction(row);
}

.all-center {
    @include justify-content(center);
    @include align-items(center);
}

.justify-center {
    @include justify-content(center);
}

.justify-between {
    @include justify-content(space-between);
}

.justify-around {
    @include justify-content(space-around);
}

.justify-start {
    @include justify-content(flex-start);
}

.justify-end {
    @include justify-content(flex-end);
}

.item-center {
    @include align-items(center);
}

.item-start {
    @include align-items(flex-start);
}

.item-end {
    @include align-items(flex-end);
}

.item-stretch {
    @include align-items(stretch);
}

.item-nowrap {
    @include flex-wrap(nowrap);
}

.item-wrap {
    @include flex-wrap(wrap);
}

@function color($color-name, $color-variant: null) {
    @if ($color-variant !=null) {
        @return map-get(map-get($colors, $color-name), $color-variant);
    }
    @else {
        @return map-get($colors, $color-name);
    }
}