        .main-content {
            width: 50%;
            border-radius: 20px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
            margin: 5em auto;
            display: flex;
        }
        
        .company__info {
            background-color: #008080;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
        }
        
        .fa-android {
            font-size: 3em;
        }
        
        @media screen and (max-width: 640px) {
            .main-content {
                width: 90%;
            }
            .company__info {
                display: none;
            }
            .login_form {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }
        
        @media screen and (min-width: 642px) and (max-width:800px) {
            .main-content {
                width: 70%;
            }
        }
        
        .row>h2 {
            color: #008080;
        }
        
        .login_form {
            background-color: #fff;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        
        form {
            padding: 0 2em;
        }
        
        .form__input {
            width: 100%;
            border: 0px solid transparent;
            border-radius: 0;
            border-bottom: 1px solid #aaa;
            padding: 1em .5em .5em;
            padding-left: 1em;
            outline: none;
            margin: 1.5em auto;
            transition: all .5s ease;
        }
        
        .form__input:focus {
            border-bottom-color: #008080;
            box-shadow: 0 0 5px rgba(0, 80, 80, .4);
            border-radius: 4px;
        }
        
        .btn {
            transition: all .5s ease;
            width: 70%;
            border-radius: 30px;
            color: #008080;
            font-weight: 600;
            background-color: #fff;
            border: 1px solid #008080;
            margin-top: 1.5em;
            margin-bottom: 1em;
        }
        
        .btn:hover,
        .btn:focus {
            background-color: #008080;
            color: #fff;
        }
        
        h2 {
            margin-top: 20px;
            margin-left: 20px;
        }
        
        .bg {
            background-image: url("../images/image1.png");
        }
        
        .lead {
            color: white;
        }
        
        .search {
            border: 1px solid white;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 50%;
        }
        
        .searchNxt {
            border: 1px solid white;
            padding: 5px 20px 5px 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 60%;
        }
        
        .searchNxt_btn {
            background-color: white;
            border: 1px solid transparent;
            text-align: center;
            color: #008080;
            text-decoration: none;
            padding: 5px 20px 5px 20px;
            transition: 0.3s;
            margin-left: 10px;
        }
        
        .search_btn {
            background-color: white;
            border: 0.2rem solid transparent;
            border-color: #008080;
            text-align: center;
            color: #008080;
            text-decoration: none;
            height: 100%;
            padding: 11px 30px 11px 30px;
            transition: 0.3s;
        }
        
        .search_btn:hover {
            text-decoration: none;
            background-color: #008080;
            color: white;
        }
        
        .head {
            font-size: 30px;
        }
        
        .subCard {
            height: 400px;
            width: auto;
            border: 1px solid white;
            margin-bottom: 10px;
            padding: 3%;
            transition: .5s ease;
            margin-bottom: 40px;
            display: block;
            text-align: center;
            background-color: white;
        }
        
        .smallCard {
            height: auto;
            width: auto;
            margin-bottom: 10px;
            padding: 10%;
            transition: .5s ease;
            margin-bottom: 40px;
            display: block;
            text-align: center;
        }
        
        .smallCard:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            cursor: pointer;
        }
        
        .smallCard:hover .backGround {
            background-color: #008080;
        }
        
        .subHead {
            padding: 2rem 3rem 3rem 3rem;
            font-size: 30px;
            font-weight: 700;
            position: relative;
            transition: .5s ease;
            display: block;
            width: 100%;
            opacity: 1;
            transition: 0.5s ease;
            backface-visibility: hidden;
        }
        
        .midText {
            transition: .4s ease;
            opacity: 0;
            position: absolute;
            top: 20%;
            left: 50%;
            width: 90%;
            line-height: 1.5rem;
            transform: translate(-50%, -30%);
            -ms-transform: translate(-50%, -50%);
            color: black;
            font-size: 15px;
            width: 100%;
            padding: 15px;
        }
        
        .midText a {
            text-decoration: none;
        }
        
        .topIcons {
            opacity: 1;
            transition: 0.5s ease;
            text-align: center;
            margin-bottom: 10px;
        }
        
        .iconBack {
            height: 2rem;
            width: 2rem;
            background-color: grey;
            border-radius: 50%;
            display: inline-block;
            padding: 2px;
        }
        
        .blue-div {
            color: #0094c9
        }
        
        .iconBack:hover {
            background: #008080;
        }
        
        .paraHead {
            font-size: 20px;
            font-weight: 700;
        }
        
        .midTextNxt {
            transition: .4s ease;
            opacity: 0;
            position: absolute;
            top: 40%;
            left: 70%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .midTextNxt2 {
            transition: .4s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .bigCard {
            margin-left: 20%;
        }
        
        .subCard:hover .midText {
            opacity: 1;
            cursor: pointer;
        }
        
        .subCard:hover .top-banner {
            opacity: 0;
        }
        
        .subCard:hover .captionText {
            opacity: 0;
        }
        
        .subCard:hover .midTextNxt {
            opacity: 1;
            cursor: pointer;
        }
        
        .subCard:hover .subHead {
            opacity: 0.1;
        }
        
        .subCard:hover .midTextNxt2 {
            opacity: 1;
            cursor: pointer;
        }
        
        .subCard:hover .subHead {
            opacity: 0.1;
        }
        
        .smallText {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        
        .backGround {
            height: 7.9rem;
            width: 7.9rem;
            background-color: grey;
            border-radius: 50%;
            display: inline-block;
            padding-top: 20px;
        }
        
        .bigWrap {
            width: 20%;
        }
        
        @media screen and (max-width:425px) {
            .bigWrap {
                width: 50%;
                margin-left: 22%;
            }
        }
        /*Student HTML  Css*/
        
        .searchNxt {
            border: 1px solid white;
            padding: 5px 20px 5px 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 65%;
        }
        
        .searchNxt_btn {
            background-color: white;
            border: 1px solid transparent;
            text-align: center;
            color: #008080;
            text-decoration: none;
            padding: 5px 20px 5px 20px;
            transition: 0.3s;
            margin-left: 10px;
        }
        
        .backGroundNxt {
            height: 2.1rem;
            width: 2.0rem;
            background-color: grey;
            border-radius: 50%;
            display: inline-block;
            padding: 3px 0px 7px 5px;
            margin-left: 5px;
            margin-left: 5px;
        }
        
        .mid_search {
            width: 100%;
        }
        
        .courseLink {
            text-decoration: none;
            color: white;
        }
        
        .courseLink:hover {
            text-decoration: none;
            color: white;
        }
        
        .dropdown {
            position: relative;
            float: right;
        }
        
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            left: 0;
        }
        
        .dropdown-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
        }
        
        .bgSec {
            background-image: url("../images/study2.png");
        }
        
        #newNav li a {
            font-size: 30px;
            font-weight: 700;
            color: black;
            border-bottom: 1px solid white;
        }
        
        #Nav {
            box-shadow: 1px 2px 10px grey;
        }
        
        .lineDark {
            border-bottom: 3px solid #008080;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 0px;
        }
        
        .bgBack {
            background-color: #f3f4f6;
        }
        
        .subCardNxt {
            height: 400px;
            width: auto;
            border: 1px solid white;
            margin-bottom: 10px;
            padding: 3%;
            transition: .5s ease;
            margin-bottom: 40px;
            display: block;
            text-align: center;
            background-color: white;
        }
        
        .captionText {
            font-size: 20px;
            margin-top: 30px;
            transition: 0.5s ease;
            opacity: 1;
        }
        
        .barKey {
            text-align: center;
            margin-top: 40%;
            margin-left: 33%;
        }
        
        .barKey a:hover .search_btn {
            text-decoration: none;
            background-color: #008080;
            color: white;
        }
        
        .top-banner {
            opacity: 1;
            transition: 0.5s ease;
        }
        
        .subCardNxt:hover .midText {
            opacity: 0.9;
        }
        
        .subCardNxt:hover .captionText {
            opacity: 0.1;
        }
        
        .subCardNxt:hover .top-banner {
            opacity: 0.1;
        }
        
        .nav-tabs .nav-link.active {
            border: 1px solid transparent;
            border-bottom-color: #008080;
            border-bottom-width: 3px;
            color: #008080;
        }
        
        .nav-tabs .nav-link {
            padding: 10px 40px 10px 40px;
            border: 1px solid transparent;
            color: black;
            background-color: none;
        }
        
        @media screen and (max-width:425px) {
            #viewSubjects {
                width: 60%;
                margin-right: 20%;
                margin-left: 20%;
            }
        }
        /*Profile_Edit Css*/
        
        .edit-wrap {
            border: 1px solid white;
            padding: 10px;
            background-color: white;
            width: 40%;
            height: auto;
            text-align: center;
        }
        
        .input-group {
            position: relative;
            margin: 40px 0 20px;
            padding-top: 10px;
            border-radius: 10%;
        }
        
        input[type=text],
        [type=password],
        [type=number],
        [type=email] {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            width: 100%;
            line-height: 20px;
            border: 1px solid #008080;
            border-radius: 5px;
            content: none;
        }
        
        input:focus {
            outline: none;
        }
        
        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 20px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        
        input:focus~label,
        input:valid~label {
            top: 10px;
            font-size: 14px;
            color: grey;
        }
        
        .bar {
            position: relative;
            display: block;
            width: 100%;
        }
        
        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #008080;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        
        .bar:before {
            left: 50%;
        }
        
        .bar:after {
            right: 50%;
        }
        
        input:focus~.bar:before,
        input:focus~.bar:after {
            width: 50%
        }
        
        .highlight {
            position: absolute;
            width: 100px;
            top: 100%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
        
        input:focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }
        /* animations */
        
        @-webkit-keyframes inputHighlighter {
            from {
                background: #4285f4;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        
        @-moz-keyframes inputHighlighter {
            from {
                background: #4285f4;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        
        @keyframes inputHighlighter {
            from {
                background: #4285f4;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        
        .saveWrap {
            padding: 20px;
        }
        
        .saveWrap a {
            text-decoration: none;
        }
        
        .fPass {
            text-align: right;
        }
        
        .fPass a {
            text-decoration: none;
        }
        
        @media screen and (max-width:425px) {
            .edit-wrap {
                width: 90%;
            }
        }
        /*Course Html*/
        
        .courseWrap {
            width: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            margin-top: 7%;
            background-color: white;
            height: auto;
            padding: 2%;
        }
        
        .user {
            font-weight: bold;
        }
        
        .course {
            font-weight: bold;
        }
        
        .dropdown-menu i {
            color: grey;
            margin-right: 10px;
        }
        
        .sideWrapper {
            width: 30%;
        }
        
        #sidebar {
            min-width: 300px;
            max-width: 300px;
            background: #32373d;
            color: #fff;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
        }
        
        #sidebar .h6 {
            color: #fff;
        }
        
        #sidebar.active {
            margin-left: -300px;
        }
        
        #sidebar.active .custom-menu {
            margin-right: -50px;
        }
        
        #sidebar.active .btn.btn-primary:before {
            content: "\f054";
            font-family: "FontAwesome";
            left: 2px !important;
        }
        
        #sidebar.active .btn.btn-primary:after {
            display: none;
        }
        
        #sidebar h1 {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 20px;
        }
        
        #sidebar h1 .logo {
            color: #fff;
            display: block;
            padding: 10px 30px;
            background: #2f89fc;
        }
        
        #sidebar ul.components {
            padding: 0;
        }
        
        #sidebar ul li {
            font-size: 16px;
        }
        
        #sidebar ul li>ul {
            margin-left: 10px;
        }
        
        #sidebar ul li>ul li {
            font-size: 14px;
        }
        
        #sidebar ul li a {
            padding: 15px 30px;
            display: block;
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }
        
        #sidebar ul li a span.notif {
            position: relative;
        }
        
        #sidebar ul li a span.notif small {
            position: absolute;
            top: -3px;
            bottom: 0;
            right: -3px;
            width: 12px;
            height: 12px;
            content: '';
            background: red;
            border-radius: 50%;
            font-family: "Poppins", Arial, sans-serif;
            font-size: 8px;
        }
        
        #sidebar ul li a:hover {
            color: #fff;
            background: #2f89fc;
            border-bottom: 1px solid #2f89fc;
        }
        
        #sidebar ul li.active>a {
            background: transparent;
            color: #fff;
        }
        
        #sidebar ul li.active>a {
            color: #2f89fc;
            border: none;
        }
        
        #sidebar ul .links {
            color: #2f89fc;
        }
        
        #sidebar ul .links:hover {
            background: none;
            text-decoration: none;
        }
        
        #sidebar .custom-menu {
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 0;
            margin-right: -35px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }
        
        @media (prefers-reduced-motion: reduce) {
            #sidebar .custom-menu {
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
            }
        }
        
        #sidebar .custom-menu .btn.btn-primary {
            background: #2f89fc;
            border-color: transparent;
            position: relative;
            color: #000;
            width: 30px;
            height: 30px;
        }
        
        #sidebar .custom-menu .btn.btn-primary:after,
        #sidebar .custom-menu .btn.btn-primary:before {
            position: absolute;
            top: 2px;
            left: 0;
            right: 0;
            bottom: 0;
            font-family: "FontAwesome";
            color: #fff;
        }
        
        #sidebar .custom-menu .btn.btn-primary:after {
            content: "\f053";
            right: 2px;
        }
        
        .bg-wrap {
            width: 100%;
            position: relative;
            z-index: 0;
            padding: 20px;
        }
        
        .bg-wrap:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            opacity: .3;
        }
        
        .bg-wrap .user-logo .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        
        .bg-wrap .user-logo h3 {
            font-size: 18px;
            padding: 10%;
        }
        
        a[data-toggle="collapse"] {
            position: relative;
        }
        
        #sideList a {
            text-decoration: none;
        }
        
        #file-input {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
        }
        
        #buttonImage {
            height: 1.25em;
        }
        
        input#fakeInput {
            width: 100%;
            background-color: #f8f8f8;
            border-radius: 8px;
            display: block;
            padding: 11px 0;
            box-sizing: border-box;
            border: initial;
            height: 3em;
            opacity: 0;
            cursor: pointer;
        }
        
        .sideWrapper {
            width: 100%;
        }
        
        .completeWrap {
            width: auto;
            margin-top: 3%;
            background-color: #ebf1f5;
            height: auto;
            padding: 20px;
            border-radius: 15px;
        }
        
        .headerVast {
            font-weight: 500;
        }
        
        .headDetail {
            font-size: 15px;
            margin-top: 20px;
        }
        
        .assessMent {
            border-bottom: 1px solid
        }
        
        #content {
            width: 100%;
        }
        
        @media screen and (max-width:425px) {
            #content {
                text-align: center;
            }
        }
        
        @media screen and (max-width:425px) {
            #sidebar {
                position: fixed;
                top: 0;
                left: 0;
                margin: auto;
                transform: translateX(-100%);
                transition: all ease 0.25s;
                &.open {
                    transform: translateX(0);
                }
            }
        }
        
        .form-div {
            margin-top: 20px;
            padding: 2%;
            text-align: center;
        }
        
        .form-div input {
            margin-right: 40px;
        }
        
        #btn1 {
            width: 20%;
        }
        
        @media screen and (max-width:425px) {
            .form-div #btn1 {
                width: 70%;
                margin-left: 10%;
                margin-top: 20px;
            }
        }
        
        @media screen and (max-width:425px) {
            #courseWrap {
                padding: 5%;
            }
        }
        
        .enquiry {
            text-align: center;
            padding-top: 10px;
        }
        
        .enquiryQA {
            background-color: #0094c9;
            border-radius: 5px;
            padding: 10px;
            color: white;
            margin-top: 20px;
            cursor: pointer;
        }
        
        .QA {
            padding: 20px;
            margin-top: 20px;
        }
        
        @media screen and (max-width:425px) {
            .enquiryQA h4 {
                font-size: 15px;
            }
        }
        
        textarea {
            resize: none;
        }
        
        .classWrap {
            background-color: #ebf1f5;
            padding: 10px;
            width: 100%;
        }
        
        .classHead {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
        
        .contentWrap {
            margin-top: 30px;
            font-size: 17px;
            font-weight: 400;
            text-align: center;
        }
        
        #one {
            margin-top: 50px;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
        }
        
        .it .btn-orange {
            background-color: transparent;
            border-color: #777!important;
            color: #777;
            text-align: left;
        }
        
        .it input.form-control {
            height: 54px;
            border: none;
            margin-bottom: 0px;
            border-radius: 0px;
            border-bottom: 1px solid #ddd;
            box-shadow: none;
        }
        
        .it .form-control:focus {
            border-color: #ff4d0d;
            box-shadow: none;
            outline: none;
        }
        
        .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }
        
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
            width: 100%;
        }
        
        .it .btn-new,
        .it .btn-next {
            margin: 10px 0px;
            border-radius: 0px;
            background-color: #333;
            color: #f5f5f5;
            font-size: 16px;
            width: 155px;
        }
        
        .it .btn-next {
            background-color: #ff4d0d;
            color: #fff;
        }
        
        .it .btn-check {
            cursor: pointer;
            line-height: 54px;
            color: red;
        }
        
        #uploader {
            width: 100%;
        }
        
        .uploadDoc {
            display: flex;
            width: 100%;
        }
        
        .it .uploadDoc {
            margin-top: 10px;
        }
        
        .it .uploadDoc {
            margin-bottom: 20px;
        }
        
        .it .btn-orange img {
            width: 30px;
        }
        
        .it #uploader .docErr {
            position: absolute;
            right: auto;
            left: 10px;
            top: -56px;
            padding: 10px;
            font-size: 15px;
            background-color: #fff;
            color: red;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
            display: none;
        }
        
        .it #uploader .docErr:after {
            content: '\f0d7';
            display: inline-block;
            font-family: FontAwesome;
            font-size: 50px;
            color: #fff;
            position: absolute;
            left: 30px;
            bottom: -40px;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        }
        
        #newBtn {
            border-radius: 30;
            width: auto;
            margin-left: 5%;
            margin-top: 2%;
        }
        
        #upBtn {
            width: 60%;
            margin-right: 2%;
            margin-left: 5%;
            height: 5%
        }
        
        @media screen and (max-width:425px) {
            #logoImg {
                width: 50%;
                margin-left: 22%;
                margin-top: 2%;
            }
        }
        
        .loader-Wrapper {
            width: 100%;
            height: 400%;
            position: absolute;
            left: 0;
            background-color: #242f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 150%;
            z-index: 3000;
        }
        
        .loader {
            animation: loader 2s infinite ease;
            height: 50px;
            width: 50px;
            display: inline-block;
            position: relative;
        }
        
        .loader:before,
        .loader:after {
            border-radius: 50%;
            content: '';
            display: block;
            height: 20px;
            width: 20px;
        }
        
        .loader:before {
            animation: ball1 1s infinite;
            background-color: #cb2025;
            box-shadow: 30px 0 0 #f8b334;
            margin-bottom: 10px;
        }
        
        .loader:after {
            animation: ball2 1s infinite;
            background-color: #00a096;
            box-shadow: 30px 0 0 #97bf0d;
        }
        
        @keyframes rotate {
            0% {
                -webkit-transform: rotate(0deg) scale(0.8);
                -moz-transform: rotate(0deg) scale(0.8);
            }
            50% {
                -webkit-transform: rotate(360deg) scale(1.2);
                -moz-transform: rotate(360deg) scale(1.2);
            }
            100% {
                -webkit-transform: rotate(720deg) scale(0.8);
                -moz-transform: rotate(720deg) scale(0.8);
            }
        }
        
        @keyframes ball1 {
            0% {
                box-shadow: 30px 0 0 #f8b334;
            }
            50% {
                box-shadow: 0 0 0 #f8b334;
                margin-bottom: 0;
                -webkit-transform: translate(15px, 15px);
                -moz-transform: translate(15px, 15px);
            }
            100% {
                box-shadow: 30px 0 0 #f8b334;
                margin-bottom: 10px;
            }
        }
        
        @keyframes ball2 {
            0% {
                box-shadow: 30px 0 0 #97bf0d;
            }
            50% {
                box-shadow: 0 0 0 #97bf0d;
                margin-top: -20px;
                -webkit-transform: translate(15px, 15px);
                -moz-transform: translate(15px, 15px);
            }
            100% {
                box-shadow: 30px 0 0 #97bf0d;
                margin-top: 0;
            }
        }
        
        *::after,
        *::before {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        */::-webkit-input-placeholder {
            opacity: 0.8;
            color: white;
        }
        
         :-moz-placeholder {
            opacity: 0.8;
            color: white;
        }
        
         :-moz-placeholder {
            opacity: 0.8;
            color: white;
        }
        
         :-ms-input-placeholder {
            opacity: 0.8;
            color: white;
        }
        
        .preview {
            display: block;
            width: 200px;
            height: 200px;
            margin: 20px auto;
            box-shadow: 0px 0px 0px 2px rgba(33, 122, 105, 1);
            border-radius: 50%;
            overflow: hidden;
        }
        
        .file-upload-wrapper {
            position: relative;
            z-index: 5;
            display: block;
            width: 250px;
            height: 30px;
            margin: 25px auto;
            border-radius: 0px;
            border-bottom: 1px dashed rgba(33, 122, 105, 1);
        }
        
        .file-upload-native,
        .file-upload-text {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
        }
        
        input[type="file"]::-webkit-file-upload-button {
            cursor: pointer;
        }
        
        .file-upload-native:focus,
        .file-upload-text:focus {
            outline: none;
        }
        
        .file-upload-text {
            z-index: 10;
            padding: 5px 15px 8px;
            overflow: hidden;
            font-size: 14px;
            line-height: 1.4;
            cursor: pointer;
            text-align: center;
            letter-spacing: 1px;
            text-overflow: ellipsis;
            border: 0;
            background-color: transparent;
        }
        
        .file-upload-native {
            z-index: 15;
            opacity: 0;
        }
        /*Upload Style*/