/* 
v2.0.1
Last Updated: 2020-August
Author: Blesson S Babu - blessonb89@gmail.com 
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background-color: #292640;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li,
ol {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*---------Color-----------*/
/*=====
alpha
========*/
/*=====
linear-gradien
========*/
/*====
transition
======*/
/*====
transform
======*/
/*----
placeholder
-----*/
/*----
flex
-----*/
/*-=====
opacity
=======*/
/*-=====
appearance
=======*/
/*-=====
filter
=======*/
/*-=====
react select
=======*/
/*-=====
Animation
=======*/
.flex-column, html .wrapper, html .wrapper .main-body__content--landing-block .profile-intro .header, html .wrapper .main-body__content--landing-block .profile-intro .header .header-desc, html .wrapper .main-body__content--about-block, html .wrapper .main-body__content--about-block .about-intro, html .wrapper .main-body__content--technology-block, html .wrapper .main-body__content--technology-block__contents, html .wrapper .main-body__content--expertise-block, html .wrapper .main-body__content--expertise-block .row .col-md-4, html .wrapper .main-body__content--contact-block, html .wrapper .main-body__content--contact-block__header, .footer, .loader {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
}

.flexbox, .main-header, .main-header__brand, .main-header__navbar, .main-header__navbar ul, html .wrapper .top-button, html .wrapper .main-body__content--landing-block, html .wrapper .main-body__content--landing-block .profile-intro, html .wrapper .main-body__content--landing-block .profile-intro .header .btn, html .wrapper .main-body__content--landing-block .profile-avatar, html .wrapper .main-body__content--about-block .about-avatar, html .wrapper .main-body__content--technology-block__header, html .wrapper .main-body__content--technology-block__contents .images, html .wrapper .main-body__content--technology-block__contents .images .image-block, html .wrapper .main-body__content--expertise-block__header, html .wrapper .main-body__content--expertise-block .row, html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-desc, html .wrapper .main-body__content--contact-block__desc, html .wrapper .main-body__content--contact-block__contact, .footer__social-links {
  display: flex;
  -moz-flex-direction: row;
  flex-direction: row;
}

.all-center, .loader {
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
}

.justify-center, .main-header, .main-header__brand, .main-header__navbar, html .wrapper .top-button, html .wrapper .main-body__content--landing-block, html .wrapper .main-body__content--landing-block .profile-intro, html .wrapper .main-body__content--landing-block .profile-intro .header .header-desc, html .wrapper .main-body__content--landing-block .profile-intro .header .btn, html .wrapper .main-body__content--about-block .about-avatar, html .wrapper .main-body__content--about-block .about-intro, html .wrapper .main-body__content--technology-block__header, html .wrapper .main-body__content--technology-block__contents .images, html .wrapper .main-body__content--technology-block__contents .images .image-block, html .wrapper .main-body__content--expertise-block, html .wrapper .main-body__content--expertise-block__header, html .wrapper .main-body__content--expertise-block .row .col-md-4, html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-desc, html .wrapper .main-body__content--contact-block__header {
  -moz-justify-content: center;
  justify-content: center;
}

.justify-between, .main-header__navbar ul, html .wrapper .main-body__content--about-block, html .wrapper .main-body__content--expertise-block .row, html .wrapper .main-body__content--contact-block__contact {
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.justify-around, html .wrapper .main-body__content--landing-block .profile-intro .header, html .wrapper .main-body__content--technology-block__contents, html .wrapper .main-body__content--contact-block__desc, .footer__social-links {
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.justify-start {
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-end, html .wrapper .main-body__content--landing-block .profile-avatar {
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.item-center, .main-header__brand, .main-header__navbar, html .wrapper .top-button, html .wrapper .main-body__content--landing-block .profile-intro, html .wrapper .main-body__content--landing-block .profile-intro .header .header-desc, html .wrapper .main-body__content--landing-block .profile-intro .header .btn, html .wrapper .main-body__content--about-block, html .wrapper .main-body__content--about-block .about-intro, html .wrapper .main-body__content--technology-block__contents .images, html .wrapper .main-body__content--technology-block__contents .images .image-block, html .wrapper .main-body__content--expertise-block, html .wrapper .main-body__content--expertise-block .row .col-md-4, html .wrapper .main-body__content--contact-block__header, html .wrapper .main-body__content--contact-block__desc, html .wrapper .main-body__content--contact-block__contact, .footer {
  -moz-align-items: center;
  align-items: center;
}

.item-start {
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.item-end {
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.item-stretch, .main-header__navbar ul, html .wrapper .main-body__content--landing-block .profile-intro .header {
  -moz-align-items: stretch;
  align-items: stretch;
}

.item-nowrap {
  flex-wrap: nowrap;
}

.item-wrap {
  flex-wrap: wrap;
}

.main-header {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transform: translate(0, -50%);
  transition: opacity 250ms ease-in, transform 0.5s ease;
  flex: 1 1 auto;
  padding: 5px 20px;
  right: 0;
  left: 0;
  z-index: 1;
  transition: 0.6s ease-in;
}

.main-header__brand {
  flex: 1 1 auto;
  max-width: 50px;
  min-width: 30px;
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-header__brand {
    max-width: 100px;
  }
}

.main-header__navbar {
  flex: 0 1 auto;
  height: 60px;
}

.main-header__navbar ul {
  flex: 0 1 auto;
  list-style-type: none;
}

.main-header__navbar ul li {
  padding: 10px;
  flex: 0 1 auto;
}

.main-header__navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.main-header__navbar ul li a::after {
  content: '';
  width: 0%;
  transition: all 0.3s ease;
  left: 50%;
}

.main-header__navbar ul li a::before {
  content: '';
  width: 0%;
  transition: all 0.3s ease;
  left: 50%;
}

.main-header__navbar ul li a:hover {
  color: #ffffff;
}

.main-header__navbar ul li a:hover::after {
  content: '';
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  background: #c32865;
  height: 3px;
}

.main-header__navbar ul li a:hover::before {
  content: '';
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 0%;
  background: #c32865;
  height: 3px;
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-header__navbar ul li {
    color: #ffffff;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-header__navbar ul li {
    padding: 20px 0;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-header__navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    background: #292640;
    left: 100%;
    top: 90px;
    padding: 0 10px;
    width: 100%;
    transition: 0.5s ease;
    z-index: 0;
    min-height: calc(100vh - 20px);
  }
}

.main-header__navbar #check {
  display: none;
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-header__navbar #check:checked ~ ul {
    left: 0px;
  }
}

.main-header__navbar .hamburger {
  display: none;
  padding: 5px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.main-header__navbar .hamburger .line {
  width: 25px;
  margin: 4px;
  height: 2px;
  background-color: #ffffff;
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-header__navbar .hamburger {
    display: block;
    margin: 0;
    right: 5%;
    position: absolute;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-header {
    padding: 5px 20px;
  }
}

.appear {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  transform: translate(0, 0%);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html .wrapper {
  /***
        Back To Top Button Styles
        ***/
  /***
            Main body styles
        ***/
}

html .wrapper h1,
html .wrapper h2 {
  color: #ffffff;
}

html .wrapper .top-button {
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  display: none;
  z-index: 3;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #c32865;
  cursor: pointer;
  outline: none;
  transition: btnentrance 0.2s ease-in-out;
}

html .wrapper .top-button .top-avatar {
  background-color: #c32865;
  height: 20px;
  width: 20px;
}

html .wrapper .top-button .top-avatar svg {
  height: 100%;
  width: 100%;
}

html .wrapper .top-button .top-avatar svg path {
  fill: #ffffff;
}

@media (min-width: 768px) {
  html .wrapper .top-button .top-avatar {
    right: 30px;
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  html .wrapper .top-button {
    right: 20px;
    width: 40px;
    height: 40px;
  }
}

html .wrapper .btn-entrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btn-entrance;
}

html .wrapper .btn-exit {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btn-exit;
}

html .wrapper .main-body {
  margin-bottom: 30px;
}

html .wrapper .main-body__content .container {
  max-width: 95%;
}

html .wrapper .main-body__content h3 {
  position: relative;
  padding: 10px 0px;
  text-align: center;
  color: #ffffff;
}

html .wrapper .main-body__content h3::after {
  content: '';
  width: 30%;
  position: absolute;
  bottom: 0px;
  right: 40%;
  background: #c32865;
  height: 3px;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content h3 {
    font-size: 40px;
  }
}

html .wrapper .main-body__content--landing-block {
  flex-wrap: wrap-reverse;
  height: calc(100vh - 40px);
  color: #ffffff;
  margin-top: 30%;
}

html .wrapper .main-body__content--landing-block .profile-intro {
  height: calc(100vh - 400px);
}

html .wrapper .main-body__content--landing-block .profile-intro .header {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition: opacity 950ms ease-in;
  height: 300px;
}

html .wrapper .main-body__content--landing-block .profile-intro .header .header-desc {
  position: relative;
}

html .wrapper .main-body__content--landing-block .profile-intro .header .header-desc h1 {
  font-size: calc(25px + (40 - 25)*((100vw - 328px)/(1024 - 328)));
  font-weight: 600;
}

html .wrapper .main-body__content--landing-block .profile-intro .header .header-desc h2 {
  font-size: calc(25px + (40 - 25)*((100vw - 328px)/(1024 - 328)));
  font-weight: 600;
  color: #c32865;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--landing-block .profile-intro .header .header-desc {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

html .wrapper .main-body__content--landing-block .profile-intro .header .btn {
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  width: 100%;
  padding: 10px 30px;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
  z-index: 1;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  transition: 0.5s ease;
}

html .wrapper .main-body__content--landing-block .profile-intro .header .btn:hover {
  background-color: #c32865;
  border-color: #c32865;
}

html .wrapper .main-body__content--landing-block .profile-intro .appear {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  width: 100%;
}

html .wrapper .main-body__content--landing-block .profile-avatar .profile-image {
  width: calc(100vw - 50px);
  padding: 20px 0;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--landing-block .profile-avatar .profile-image {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--landing-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 600px;
    margin-top: 3%;
  }
}

html .wrapper .main-body__content--about-block {
  padding: 30px 0;
  color: #ffffff;
  height: 500px;
}

html .wrapper .main-body__content--about-block .about-avatar {
  transform: translate(-20%, 0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition: opacity 2s, transform 1s ease-out;
}

html .wrapper .main-body__content--about-block .about-avatar .avatar {
  width: calc(100vw - 10px);
}

html .wrapper .main-body__content--about-block .appear {
  transform: translate(0%, 0);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

html .wrapper .main-body__content--about-block .about-intro {
  transform: translate(20%, 0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition: opacity 1s, transform 1s ease-out;
}

html .wrapper .main-body__content--about-block .about-intro p {
  color: #ffffff;
  padding: 10px 0px;
  line-height: 27px;
  text-align: center;
  font-size: 15px;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--about-block .about-intro p {
    width: 80%;
    font-size: 20px;
    line-height: 2rem;
  }
}

html .wrapper .main-body__content--about-block .appear {
  transform: translate(0%, 0);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--about-block {
    display: flex;
    flex-direction: row;
    height: 500px;
  }
}

html .wrapper .main-body__content--technology-block {
  justify-content: space-evenly;
}

html .wrapper .main-body__content--technology-block__header {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transform: translate(0, 50%);
  padding: 50px 0;
  transition: opacity 250ms ease-in, transform 0.5s ease;
}

html .wrapper .main-body__content--technology-block .appear {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  transform: translate(0, 0%);
}

html .wrapper .main-body__content--technology-block__contents .images {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 50%;
  padding: 20px 0;
  transition: 0.5s ease;
  margin-bottom: 30px;
}

html .wrapper .main-body__content--technology-block__contents .images .image-block {
  width: 70px;
  height: 70px;
}

html .wrapper .main-body__content--technology-block__contents .images .image-block svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--technology-block__contents .images .image-block {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--technology-block__contents .images {
    width: 100%;
  }
}

html .wrapper .main-body__content--technology-block .appear {
  transform: scale(1.1);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

html .wrapper .main-body__content--expertise-block {
  padding: 40px 0;
}

html .wrapper .main-body__content--expertise-block__header {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transform: translate(0, 50%);
  margin-bottom: 30px;
  transition: opacity 250ms ease-in, transform 0.5s ease;
}

html .wrapper .main-body__content--expertise-block .appear {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  transform: translate(0, 0%);
}

html .wrapper .main-body__content--expertise-block .row .col-md-4 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition: 0.5s ease;
  cursor: pointer;
}

html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-block {
  padding: 20px 0;
  width: 100px;
  height: 200px;
  transition: 0.5s ease;
}

html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-block svg {
  width: 100%;
  height: 100%;
}

html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-block svg path {
  fill: #ffffff;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-block {
    width: 150px;
  }
}

html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-desc p {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--expertise-block .row .col-md-4 .image-desc p {
    width: 90%;
    font-size: 17px;
  }
}

html .wrapper .main-body__content--expertise-block .row .col-md-4:hover svg {
  width: 100%;
  height: 100%;
  transform: translateY(0, -50%);
}

html .wrapper .main-body__content--expertise-block .row .col-md-4:hover svg path {
  fill: #c32865;
}

@media (max-width: 768px) {
  html .wrapper .main-body__content--expertise-block .row .col-md-4 {
    padding: 20px;
  }
}

html .wrapper .main-body__content--expertise-block .row .appear {
  transform: scale(1.1);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--expertise-block {
    display: flex;
    justify-content: space-around;
    height: 600px;
  }
}

html .wrapper .main-body__content--contact-block__header {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transform: translate(0, 50%);
  height: 200px;
  transition: opacity 250ms ease-in, transform 0.5s ease;
}

html .wrapper .main-body__content--contact-block__header--small {
  font-size: 20px;
  color: #c32865;
  font-weight: 300;
  margin: 20px;
}

html .wrapper .main-body__content--contact-block__header--big {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
}

html .wrapper .main-body__content--contact-block .appear {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  transform: translate(0, 0%);
}

html .wrapper .main-body__content--contact-block__desc {
  height: 150px;
  font-size: 15px;
  color: #ffffff;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--contact-block__desc {
    font-size: 18px;
  }
}

html .wrapper .main-body__content--contact-block__contact--phone .header {
  font-size: 16px;
  color: #c32865;
  margin-bottom: 20px;
}

html .wrapper .main-body__content--contact-block__contact--phone .description {
  font-size: 14px;
  color: #ffffff;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--contact-block__contact--phone .header,
  html .wrapper .main-body__content--contact-block__contact--phone .description {
    font-size: 18px;
  }
}

html .wrapper .main-body__content--contact-block__contact--mail .header {
  font-size: 16px;
  color: #c32865;
  margin-bottom: 20px;
}

html .wrapper .main-body__content--contact-block__contact--mail .description {
  font-size: 14px;
  color: #ffffff;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--contact-block__contact--mail .header,
  html .wrapper .main-body__content--contact-block__contact--mail .description {
    font-size: 18px;
  }
}

html .wrapper .main-body__content--contact-block .col-md-6 {
  padding: 0 20px;
  overflow: hidden;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form {
  max-width: 100%;
  margin: 0 auto;
  /***
                                 Back To Top Button Animation
                            ***/
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group {
  position: relative;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group .input-name {
  display: block;
  width: 100%;
  height: 52px;
  border: none;
  border-bottom: 1px solid #797979;
  padding-top: 20px;
  background: transparent;
  font-weight: normal;
  color: #797979;
  font-size: 14px;
  transition: transform 0.9s ease;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group .input-name:focus + label .content-name {
  transform: translate(0, -100%);
  font-size: 12px;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group .input-name:valid + label .content-name {
  transform: translate(0, -100%);
  font-size: 12px;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group .input-name:focus + label::after {
  width: 100%;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group .input-name:valid + label::after {
  width: 100%;
}

@media (min-width: 768px) {
  html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group .input-name {
    height: 72px;
  }
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group textarea {
  resize: auto;
  overflow: hidden;
  position: relative;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group label {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group label::after {
  content: "";
  width: 0%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  border-bottom: 2px solid #c32865;
  transition: transform all 0.10s ease;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group span {
  font-size: 15px;
  color: #797979;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .form-group .content-name {
  position: absolute;
  transition: all 0.5s ease;
  left: 0px;
  bottom: 5px;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .submit-button {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  width: 100%;
  color: #ffffff;
  background-color: #c32865;
  font-size: 16px;
  border: 2px solid #c32865;
  letter-spacing: .5px;
  text-transform: capitalize;
  padding: 10px 30px;
  transition: all .5s ease;
  font-weight: 500;
}

html .wrapper .main-body__content--contact-block .col-md-6 .contact-form .submit-button:hover {
  background-color: #292640;
  color: #c32865;
}

@keyframes btn-entrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes btn-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.footer {
  margin: 30px 0;
  padding: 10px 0;
  min-height: 100px;
  max-height: 200px;
}

.footer__social-links {
  list-style: none;
}

.footer__social-links li {
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  width: 40px;
  height: 40px;
  padding: 10px;
  transition: all 0.4s ease;
}

.footer__social-links li svg {
  width: 100%;
  height: 100%;
}

.footer__social-links li svg path {
  fill: #ffffff;
}

.footer__social-links li:hover {
  background-color: #c32865;
}

.footer__about {
  color: #ffffff;
  font-size: 15px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}

.main-wrapper {
  margin: 0;
  padding-top: 80px;
  animation: fadeIn 0.2s;
}

@media (max-width: 359px) {
  .main-wrapper {
    padding-top: 50px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .main-wrapper {
    padding-top: 60px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999999;
}

.loader .loader-inner {
  flex: 0 0 auto;
  border: 2px solid #f50136;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: loader-inner 0.8s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
  background-color: transparent !important;
}

::selection {
  color: #000;
  background: #f4f4f4f4;
}

button,
input,
textarea {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

button:hover, button:visited, button:focus, button:active,
input:hover,
input:visited,
input:focus,
input:active,
textarea:hover,
textarea:visited,
textarea:focus,
textarea:active {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
  outline: 0;
}

img {
  border: 0;
  outline: 0;
  max-width: 100%;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: #2e3c4d;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f4f4f4f4;
  color: #2e3c4d;
  line-height: 1.428;
  font-weight: 400;
  font-size: 14px;
  color: blue;
}
/*# sourceMappingURL=main.css.map */