.wrapper {
    font-family: $font-web;
    background-color: #f5f5f5;
    .main-header {
        @extend .flexbox;
        @include box-shadow(1px, 2px, 7px, rgba(0, 0, 0, 0.10));
        background-color: color(back, null);    
        flex:1 1 auto;
        position:fixed;
        right:0;
        left:0;       
        z-index: 1;
        &__brand {            
            @extend .flexbox;
            @extend .justify-center;
            @extend .item-center;
            flex:0 0 auto;
            padding: 0 20px;
            max-width: 260px;  
            min-width: 260px;          
        }
        &__menu {
            @extend .flexbox;
            @extend .justify-between;
            @extend .item-center;
            flex: 1 1 auto;
            padding: 10px 0;        
            &--search-btn {
                @extend .flexbox;
                @extend .item-center;
                padding: 3px 16px;
                height: 38px;
                font-size: 18px;
                width: 500px;
                color: #91979d;
                background-color: #ffffff;
                border: 1px solid #ebebeb;
                input {
                    border: none;
                    outline: none;
                    font-size: 14px;
                    .form-control {
                        @extend .flexbox;
                        flex: 1 1 auto;
                    }
                }
                i {
                    color: #91979d;
                }
            }
            &--notification {
                @extend .flexbox;
                @extend .item-center;
                list-style-type: none;
                font-size: 14px;
                margin-bottom: 0;
                a {
                    @extend .flexbox;
                    @extend .justify-center;
                    @extend .item-center;
                    padding: 0 20px;
                   
                }
                .profile {
                    @extend .flex-column;
                    color:#707070;
                    small {
                        font-weight: 300;
                    }
                }
                svg
                {
                    width:100%;
                    height:100%;
                    path
                    {
                        stroke-width:1px;
                        fill:#939393;
                    }
                }               
                .calender{                   
                    @include border-radius(10%);
                    @include box-shadow(0px, 2px, 9px, rgba(0, 0, 0, 0.2));
                    background-color: #ffffff;                                  
                    width:30px;
                    height:30px; 
                    padding:5px;  
                    position: relative;        
                     &::after {
                        content:"";
                        position: absolute;                       
                        left: 50px;
                        top: -4px;
                        height: 40px;                        
                        border: 1px solid #e3e4e5;   
                        cursor: default;                     
                    }  
                }
                .toggle-icon
                {
                    width:21px;
                    height:14px;    
                }          
                
            }
        }
    }
    .main-content {
        @extend .flexbox;
        top:50px;
        &__sidebar {
            width: 260px;
            background-color: #ffffff;
            overflow: auto;
            min-height: calc(100vh - 69px);   
            margin-top:60px;  
            flex:1 0 auto;   
            &--list {
                list-style-type: none;
                margin-bottom: 0;
                padding: 0 18px;
                flex:0 0 auto;
                li {                  
                    padding: 10px;
                    font-size: 16px;
                    font-weight: 500;
                    color:#626772;
                    a {
                        @extend .flexbox;
                        @extend .item-center;
                        text-decoration: none;
                        color: color(nav, null);
                        color: #626772;
                        font-size: 16px;  
                        svg
                        {
                            width:100%;
                            height:100%;
                            path
                            {
                                stroke-width:1px;
                                fill:#777;
                            }
                        }
                        .icon
                        {
                            flex:0 0 auto;
                            width:25px;
                            height:25px;   
                            margin-right:7px;                        
                        }                                       
                   
                        .angle-down-arrow{
                            @extend .flexbox;
                            @extend .item-center;
                            @include rotate(-180);         
                            margin-left:auto;     
                            width:16px;
                            height:9px;                
                        }                       
                        &:hover {
                            color: #e15776;
                            svg {     
                                path{                           
                                fill: #e15776;
                                }
                            }
                        }     
                                              
                    }
                    ul {
                        position: relative;
                        margin-top: 10px;
                        &::before {
                            content:"";
                            position: absolute;
                            width: 2px;
                            left: 11px;
                            top: 17px;
                            height: calc(100% - 35px);
                            border: 1px solid #e8e8e8;
                        }
                        li {
                            position: relative;
                            font-weight: 400;
                            line-height: 1;                           
                            &::before {
                                content:"";
                                position: absolute;
                                width: 10px;
                                left: 7px;
                                top: 13px;
                                height: 10px;
                                background-color: #ffffff;
                                border: 2px solid #e8e8e8;
                                border-radius: 50%;
                            }
                            a {
                                font-size: 14px;
                                padding: 0 22px;                               
                                &:hover {
                                    &::before {
                                        content:"";
                                        position: absolute;
                                        width: 10px;
                                        left: 7px;
                                        top: 13px;
                                        height: 10px;
                                        background-color: #ffffff;
                                        border: 2px solid #e15776;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }                 
                }
            }
        }
        &__body {
            flex:1 1 auto;
            margin-top:55px;
            &--header {
                @extend .flexbox;
                @extend .justify-between;
                @extend .item-center;
                background-color: #f7f9fb;
                height: 100px;
                padding: 0 20px;
                .title {
                    @extend .flexbox;
                    @extend .justify-center;
                    @extend .item-center;
                    &__logo{
                        @extend .flexbox;
                        @extend .justify-center;
                        @extend .item-center;
                        background-color: #ffffff;
                        border-radius: 4px;
                        width: 64px;
                        height: 64px;
                        .icon
                        {
                            width:42px;
                            height:42px;
                            svg{
                                width:100%;
                                height:100%;
                                path
                                {
                                    stroke-width: 1;
                                    fill:#7e7979;
                                } 
                            }
                        }
                    }
                    h3 {                       
                        font-size: 20px;                
                        font-weight: 400;
                        padding: 0 10px;
                        color:#495057;
                    }
                }
                .add-button{
                    flex:0 0 auto;
                    .btn    {
                        @include linear-gradient(left, rgba(255,98,31,1) 0%, rgba(255,116,61,1) 41%, rgba(253,98,39,1) 53%, rgba(250,67,0,1) 74%, rgba(255,68,0,1) 82%, rgba(255,130,77,1) 100%);
                        @include border-radius(5px);
                        @extend .flexbox; 
                        @extend .justify-center;   
                        min-width:140px;
                        border: none;
                        color: white;
                        padding: 2px 20px;
                        font-size: 13px;                  
                        cursor: pointer;
                        outline: none;
                        height: 31px;
                        transition: 0.3s;
                        position:relative;
                        i   {
                            margin-right: 5px;
                        }
                         &::before
                            {
                            content:"+";
                            position:absolute;
                            height:14px;
                            width:14px;   
                            top:2px;
                            left:8px;   
                            font-size:18px;                 
                            color:#ffffff;
                        }
                    }
                }
            }
            &--content
            {
                padding:10px;
                .profile-wrapper
                {
                    @extend .flexbox; 
                    @extend .justify-between;                                 
                    flex-wrap:wrap;
                    padding:10px 0;
                    flex:1 1 auto;
                    .profile-block
                    {
                        @include border-radius(4px);
                        @extend .flex-column;
                        background-color: #ffffff;                         
                        padding:10px;    
                        color:#707070;  
                        font-weight:400;   
                        min-height:calc(100vh - 900px);
                        letter-spacing:0.1px;
                        margin-right:10px;     
                        margin-bottom:10px;                            
                        &__image
                        {
                            @extend .flexbox;
                            @extend .justify-center;
                            @extend .item-center;
                            flex:0 1 auto;    
                            margin-bottom:0; 
                            position:relative;                          
                            span
                            {
                                @include border-radius(90px);
                                border:2px solid #64a249;
                                object-fit:cover;    
                                overflow:hidden;    
                                img {
                                    @extend .flexbox;
                                }       
                                p
                                {
                                    font-size:14px;
                                    font-weight:500;
                                }
                            }                       
                            &::after
                                {
                                @include border-radius(90px);
                                content:"\2807";
                                position:absolute;                            
                                font-size:24px;
                                color:#cecece;
                                right:-10px;
                                top:3px;
                                cursor:pointer;
                            }                                            
                        }

                        &__details
                        {
                            @extend .flexbox;
                            @extend .justify-center;
                            @extend .item-center;
                            flex:0 1 auto;  
                            line-height:2;
                            padding:10px 0;
                            span
                            {
                                text-align: center;
                                text-transform:uppercase;                           
                            }
                        }
                    

                        &__contact
                        {
                            @extend .flex-column;
                            @extend .justify-start;                         
                            flex:1 0 auto;
                            font-size:14px;
                            padding:10px;                    
                            &--content{   
                                @extend .flexbox;
                                @extend .justify-start; 
                                @extend .item-center;
                                padding:0 20px;     
                                flex:1 0 auto;         
                                .image
                                {
                                    width:20px;
                                    height:20px; 
                                    margin-right:15px; 
                                    position:relative;                         
                                    svg {
                                        width:100%;
                                        height:100%;
                                        path
                                        {
                                            fill:#da9aa5;
                                            stroke-width:1px;
                                        }
                                    }                               
                                }                      
                                p
                                {
                                    line-height:3;
                                }
                            
                            }                        
                        }                  
                    }
                }
                .personal-details
                {
                    background-color:#f7f7f7;
                    h3
                    {
                        color:#3d3d3d;
                    }
                    
                    &__block
                    {
                        @include border-radius(4px);
                        @extend .flexbox;
                        @extend .justify-between;
                        flex:1 1 auto;
                        background-color: #ffffff;  
                        padding:15px 0;    
                        color:#707070;  
                        font-weight:400;   
                        letter-spacing:0.1px;
                        min-height:calc(100vw - 1000px);     
                        position:relative;    
                        margin-bottom:2px;              
                        &--details
                        {
                            @extend .flexbox;                                              
                            padding:0 10px;                               
                            .image
                            {
                                @include border-radius(90px);
                                @extend .flex-column;
                                @extend .justify-start;    
                                overflow:hidden;                                                      
                                width:100px;
                                padding:0 10px;
                                height:100px;
                            }          
                            .personal-info{
                                @extend .flex-column; 
                                @extend .justify-around;
                                @extend .item-stretch; 
                                padding:0 10px;                                             
                                p
                                {
                                    font-size:14px;
                                    font-weight:600;
                                    color: #6d747c;
                                }

                                h5,h4
                                {
                                    color:#3d3d3d;
                                
                                }
                                .btn
                                {
                                    @include linear-gradient(left, rgba(255,98,31,1) 0%, rgba(255,116,61,1) 41%, rgba(253,98,39,1) 53%, rgba(250,67,0,1) 74%, rgba(255,68,0,1) 82%, rgba(255,130,77,1) 100%);
                                    color:#ffffff;
                                    font-weight:600; 
                                                              
                                }
                            }
                        }
                        &--contact
                        {
                            .contact-details
                            {
                                @extend .flex-column;
                                @extend .justify-start;
                                @extend .item-stretch;                                
                                flex:1 0 auto;
                                position: relative;
                                &::before
                                {
                                    content:"";
                                    position: absolute;                                   
                                    left: -20px;
                                    top: 1px;                                  
                                    height: calc(100% - 20px);
                                    border: 1px dashed #e8e8e8; 
                                }
                                &__items
                                {
                                    display:grid;
                                    grid-column-gap: 70px;
                                    grid-row-gap: 10px;                                  
                                    grid-template-columns: 100px 60%;
                                    grid-template-rows: 50px;                                   
                                    &--label
                                    {
                                        font-weight:600;
                                    }
                                }
                                
                            }
                        }
                        &::after
                        {
                            @include border-radius(90%);
                            @include rotate(-270);    
                            content:"\270E";
                            position: absolute;       
                            font-size:20px;                            
                            right: 10px;
                            top:3px; 
                            padding:5px 10px;
                            background-color:#eeeeee;     
                            border:1px solid #f1f1f1; 
                            cursor:pointer;                  
                        }
                    }
                    &__tabs
                    {
                        @include box-shadow(1px, 2px, 7px, rgba(0, 0, 0, 0.10));
                        @extend .flexbox;
                        @extend .justify-start;
                        flex:1 1 auto;
                        background-color: #ffffff;  
                        padding:15px 0;    
                        color:#707070;  
                        font-weight:400;   
                        letter-spacing:0.1px;
                        width:calc(100vw - 100px);
                        height:40px;      
                        position:relative;  
                        margin-bottom:20px;         
                        span
                        {
                            @extend .flexbox;
                            @extend .justify-center;
                            @extend .item-center; 
                            font-weight:500;
                            padding:0 10px;
                            transition: 0.23s ease-in-out;
                            p
                            {
                                color:#ff0000;                                
                            }
                            &:hover
                            {
                                color:#3d3d3d;  
                                cursor:pointer;
                            }
                        }        
                    }
                    .row
                    {
                        @extend .flexbox;
                        @extend .justify-between;    
                        position:relative; 
                        margin-top:20px; 
                        h4,h6
                        {
                            margin-bottom:10px;
                            color:#707070;  
                        }                     
                        .col-md-6
                        {
                            .card-body{
                                @include box-shadow(1px, 2px, 7px, rgba(0, 0, 0, 0.10));
                                @extend .flex-column;
                                @extend .justify-start;
                                @extend .item-stretch;  
                                background-color: #ffffff;     
                                color:#707070;  
                                font-weight:400;   
                                letter-spacing:0.1px;                           
                                position:relative;
                                flex:1 1 auto;  
                                min-height:calc(100vw - 1000px);  
                                                    
                                &::after
                                        {
                                            @include border-radius(90%);
                                            @include rotate(-270);       
                                            content:"\270E";
                                            position: absolute;       
                                            font-size:20px;                            
                                            right: 10px;
                                            top:3px; 
                                            padding:5px 10px;
                                            background-color:#eeeeee;     
                                            border:1px solid #f1f1f1; 
                                            cursor:pointer;                                      
                                        }
                           
                           ul
                            {
                                @extend .flex-column;
                                @extend .justify-start;
                                @extend .item-stretch;  
                                padding:10px 0;                              
                                flex:1 0 auto;
                                position: relative;
                               
                                li
                                {
                                   
                                    @extend .flexbox;
                                    @extend .justify-between;
                                    @extend .item-stretch;                                    
                                    .label
                                    {
                                        font-weight:600;
                                    }                              
                                  
                                
                                }
                                .divider
                                {
                                    border-top:1px solid #e8e8e8;
                                    padding:10px 0;
                                }
                            }
                            table
                            {
                                tbody
                                {
                                    thead
                                        tr{
                                                                                   
                                            th
                                                {
                                                padding:5px;
                                                border-top:1px solid #989b9e;
                                                border-bottom:1px solid #989b9e;
                                            }
                                        }
                                    }
                                    td
                                    {
                                        padding:5px 0;
                                      
                                    }
                                }
                            }
                            .academic-info
                            {
                                @extend .flex-column;
                                @extend .justify-between;
                                @extend .item-stretch;
                                ul
                                {
                                    @extend .flex-column;
                                    @extend .justify-between;
                                    @extend .item-stretch; 
                                    position:relative;                                   
                                    &::before
                                    {
                                        content:"";
                                        position: absolute;                                   
                                        left:2px;
                                        top: 20px;                                  
                                        height: calc(100% - 20px);
                                        border: 1px solid #e8e8e8; 
                                    }
                                        li
                                        {
                                            display:block;
                                            padding:10px 20px;
                                            position: relative;
                                            &::before
                                            {                            
                                                content:"";
                                                position: absolute;
                                                width: 10px;
                                                left: -2px;
                                                top: 20px;
                                                height: 10px;
                                                background-color: #dddddd;                                          
                                                border-radius: 50%;
                                            }
                                    
                                        }
                                    }  
                                }
                            }
                                  
                        }    
                                               
                    }
                   
                }
            }          
        }
    }

