        /******************************************Header Style*********************************************************/
        
        #header {
            background-image: url("../images/Background2.png");
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 10%;
        }
        /******************************************Navbar Style*********************************************************/
        
        .navbar .navbar-nav li a {
            color: #000000;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            margin-left: 10px;
        }
        
        .navbar-toggler.navbar-toggler-icon i {
            outline: none;
            font-size: 36px
        }
        /******************************************Banner Style*********************************************************/
        /* #banner {
            position: relative;
            z-index: 5;
        } */
        
        #banner-title {
            margin-top: 17%;
            color: #000000;
            font-family: 'Montserrat ', sans-serif;
        }
        
        .small-header {
            font-size: 25px;
            font-weight: 900;
            letter-spacing: 0.1em;
        }
        
        .big-header {
            font-size: 55px;
            font-weight: 1000;
            letter-spacing: 0.05em;
        }
        
        .sub-header {
            margin-top: 30px;
            font-size: 20px;
            font-weight: 800;
            line-height: 10%;
            font-family: 'Montserrat Extra-bold', sans-serif;
        }
        
        #banner a {
            background-color: #000000;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin-top: 20px;
            font-weight: 800;
            font-family: 'Montserrat Extra-bold', sans-serif;
        }
        /******************************************Main Body Style*********************************************************/
        
        .sub-title {
            margin-top: 30px;
            font-size: 30px;
            font-weight: 800;
            line-height: 50%;
            letter-spacing: .01em;
            font-family: 'Montserrat Regular', sans-serif;
        }
        
        .description {
            margin-top: 30px;
            letter-spacing: 0.01em;
            font-family: 'Montserrat Regular', sans-serif;
            justify-content: start;
            color: #3d3d3d;
        }
        
        #new-banner {
            background-image: url("../images/NewBanner.png");
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding: 40px;
            margin-bottom: 10%;
        }
        
        .new-banner-title {
            margin-top: 30px;
            font-size: 30px;
            font-weight: 750;
            line-height: 60%;
            letter-spacing: 0.01em;
            font-family: 'Montserrat Regular', sans-serif;
            color: #ffffff;
        }
        
        .new-banner-sub {
            margin-top: 30px;
            font-size: 20px;
            letter-spacing: 0.01em;
            font-family: 'Montserrat Regular', sans-serif;
            color: #ffffff;
        }
        
        .next-banner {
            margin-top: 30px;
            font-size: 30px;
            font-weight: 800;
            letter-spacing: 0.01em;
            line-height: 70%;
            font-family: 'Montserrat Regular', sans-serif;
            color: #000000;
            padding: 30px;
            margin-left: 15%;
        }
        
        .next-banner-desc {
            margin-top: 30px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.01em;
            font-family: 'Montserrat Light', sans-serif;
            color: #000000;
        }
        
        .next-banner a {
            background-color: #000000;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin-top: 20px;
        }
        
        #slider {
            transition: .5s ease;
        }
        
        #slider img:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            cursor: pointer;
        }
        /******************************************************Foooter Styles************************************************************/
        
        .footer {
            background-color: #f3f3f3;
            padding: 20px;
            margin-top: 10%;
        }
        
        .contact {
            background-color: #000000;
            color: #ffffff;
            width: 60%;
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 0.01em;
            line-height: 20%;
            font-family: 'Montserrat Bold', sans-serif;
            padding: 10px;
            margin-top: 20px;
        }
        
        .contact-number {
            background-color: #000000;
            color: #ffffff;
            width: 70%;
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 0.01em;
            line-height: 20%;
            font-family: 'Montserrat Bold', sans-serif;
            padding: 10px;
        }
        
        .company-copyright {
            margin-top: 10%;
            font-size: 12px;
            letter-spacing: 0.01em;
            line-height: 20%;
            font-family: 'Montserrat Medium', sans-serif;
            padding: 10px;
            color: #000000
        }
        /*****************************************************Responsive Web Page*********************************************************/
        /*         
        @media only screen and (max-width:780px) {
            .container {
                margin: 0;
                padding: 0;
            }
            .navbar {
                width: 100%;
            }
        } */